
/* Applying styles for div1 element */

#f_div {
    padding-left: 35%;
    background-color: burlywood;
}
/* Button Styling */
#btn{
    margin-left: 245px;
    width: 10%;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background-color:greenyellow
}


/* div element styling*/
.smallbox {
    /* border: 2px solid red; */
    min-width: 30vw;
    border: solid 1px black;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px; 
    box-sizing: border-box;   
    overflow-wrap: break-word;
    float:right;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;   
    overflow-wrap: break-word;

}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
}
#h1{
    padding-left: 10%;
}
#s_div{
   
    width:27%;
    float:left;
   
}
body{
    background-color:rgb(211, 241, 211)
}







